.hero {
  height: 270px;
  background-color: var(--color-black);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}
/* .hero div h1 {
  font-weight: 600;
} */

.headSet {
  height: 212px;
  width: 212px;
}
