.wrapper h1 {
  margin-bottom: 15px;
}
.wrapper .accordion {
  background-color: var(--color-white);
  border-radius: 10px !important;
  font-weight: 500;
  width: 70vw;
  margin-bottom: 20px;
}

.wrapper .accordion .summary {
  background-color: var(--color-black);
  color: var(--color-white);
  border-radius: 10px;
  border: 1px solid var(--color-white);
  cursor: pointer;
}

.wrapper .accordion .text {
  text-align: left;
  background-color: var(--color-white);
  border-radius: 10px;
  color: var(--color-black);
  border-radius: 0px 0px 10px 10px;
}

.wrapper .accordion .arrow {
  width: 35px;
  height: 40px;
  color: var(--color-primary);
}
