.songwrapper {
  display: flex;
  justify-content: space-between;
  font-size: small;
  margin: 2vh 0;
}
.songwrapper:hover {
  border-radius: 5px;
  border: 2px solid var(--color-primary);
  cursor: pointer;
}
.songIcon {
  min-width: 60px;
  height: 65px;
  border-radius: 5px;
  object-fit: cover;
}
.imagewrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 15vw;
  gap: 15px;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 10vw;
}
.artists {
  max-width: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.duration {
  min-width: 10vw;
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: center;
}
